@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
html {
    font-family: 'Play', sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    
}

body {
    border-style: solid;
    padding: 30px;
    border-radius: 10px;
    background-image:url("https://img.elo7.com.br/product/main/2619CFE/papel-de-parede-infantil-cachorro-patinhas-pet-gato-n4346-papel-de-parede-para-quarto-infantil.jpg");
}
.foto_perfil{
    text-align: center;
}
#fotoperfil{
    border-radius: 50%;
    box-shadow: 0px 0px 26px 14px rgba(19, 35, 153, 0.88);
}

#nome {
    font-size: 50px;
    text-align: center;
    color: #e64ba3;
}

nav {
    margin: 10px;
    padding: 10px;
    justify-content:space-around;
    display: flex;
    
}

nav ul li {
    
    border-style: solid;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 100px;
    display: inline-block;
    background-color: #fff;
    color:  #859ae9;
    border-color: black;
    text-decoration: none;
}
   

nav ul li a {
    text-decoration: none;
    
}
 .secoes {
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    color: #859ae9;
    border-color: black;
    text-decoration: none;
}

#voltarinicio {
    border-style: solid;
    border-color: black;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    
}
